<b>Hi <%= @name %> </b>

<p>Thanks for choosing us, our meeting is on date <b><%= @proposaldate %></b></p>

<p>You can use below link to view the event details on your Calendar</p>

<a  href="<%= @event_link %>" target="_blank"><%= @event_link %></a>

<p>Thank you!</p>

<b><%= @current_user.name %></b>
<b><%= @current_user.email %></b>
