<h3>Hi..Congratulations!!!</h3>
<p> Your email has been successfully verified ! You can Login to  your Stemeter account by clicking below link</p>
<a href="#{ENV['ANGULAR_URL']}/signin" target="_blank">click here to go stemeter</a>
<!--<p><%= link_to 'click here to go stemeter',"#{ENV['ANGULAR_URL']}" %></p> -->
