<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account',"#{ENV['OOB_URI']}/custom_user_confirmation?confirmation_token=#{@token}&email=#{@resource.email}" %></p>
